.contact {
  padding: 2rem 0 5rem;
  color: #20520e;
  text-align: center;
  font-size: 2rem;
  scroll-margin-top: 5rem;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url(../assets/images/gallery/snow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-burn;
  background-attachment: fixed;
}
.contact h2 {
  color: #e0630f;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2.3rem;
}
@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
}
.left {
  min-width: 320px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left h3 {
  padding: 1rem 0;
  font-size: 4rem;
  font-size: clamp(1.5rem, calc(0.12rem + 2.06vw), 4rem);
}
.right {
  width: 50%;
}
@media screen and (max-width: 800px) {
  .right {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .right {
    width: 100%;
  }
}
.right img {
  width: 80%;
  box-shadow: 5px 5px 20px #20520e;
}
.contact__phone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.fb {
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #20520e;
  border: 2px solid #e0630f;
  animation: ring 2s linear infinite;
  background-color: rgba(32, 82, 14, 0.1);
}
.fb:hover {
  background-color: rgba(32, 82, 14, 0.3);
}
.icon {
  font-size: 3rem;
  color: #e0630f;
}
.fb__link {
  letter-spacing: normal;
}

@keyframes ring {
  50% {
    border: 2px solid #ffffff;
  }
}
