footer {
  background-color: #e0630f;
  padding: 3rem;
  text-align: center;
  font-size: 3rem;
  font-size: clamp(1.5rem, calc(0.12rem + 2.06vw), 4rem);
  color: #20520e;
}
@media screen and (max-width: 800px) {
  footer {
    /* font-size: 2rem; */
    padding: 2rem;
  }
}
@media screen and (max-width: 400px) {
  footer {
    padding: 1rem;
    /* font-size: 1rem; */
  }
}
