.gallery {
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url(../assets/images/gallery/snow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  background-attachment: fixed;
  padding: 2rem 0 2rem;
  color: #20520e;
  text-align: center;
  font-size: 2rem;
  scroll-margin-top: 5rem;
  height: calc(100vh - 5rem);
}
.gallery h2 {
  color: #e0630f;
}
.gallery__wrapper {
  margin: 0 auto;
  padding: 2rem 0;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.main,
.next,
.previous {
  width: auto;
  max-width: 330px;
  overflow: hidden;
}
.main img,
.next img,
.previous img {
  max-width: 310px;
  height: 50vh;
  border-radius: 15px;
  object-fit: contain;
}
.extras {
  width: 60%;
}
.controls {
  display: flex;
  gap: 3rem;
  justify-content: center;
}
.btn {
  width: 130px;
  padding: 1rem 0rem;
  border: 5px solid #e0630f;
  background-color: #ffffff;
  border-radius: 15px;
  font-size: 1.3rem;
  cursor: pointer;
}
.btn:hover {
  border: 5px solid #ffffff;
  background-color: #e0630f;
}
