.pricing {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../assets/images/gallery/snow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
  scroll-margin: 4rem;
  padding-bottom: 2rem;
}
.title {
  text-align: center;
  font-size: 3rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
  color: #ffffff;
  color: #e0630f;
}
.pricing__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
  gap: 5rem;
  justify-content: center;
  padding-bottom: 5rem;
}
.card__container {
  display: flex;
  /* flex-direction: column; */
  width: 23rem;
  min-width: 260px;
  justify-content: center;
  padding: 2rem 1rem 0;
  margin-top: 2rem;
}
.card__info {
  background-color: #fff;
  padding: 1rem;
  text-align: center;
  /* height: 15rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 15px;
}
.card__info-text {
  font-size: 2rem;
  color: #0b1308;
  font-weight: bold;
  font-family: "Grenze Gotisch", cursive;
}
/* .text-big {
  font-size: 2.4rem;
}
.text-biger {
  font-size: 2.7rem;
}
.text-bigest {
  font-size: 3rem;
} */
.price {
  color: #e8740f;
  font-weight: bold;
  font-size: 3rem;
}
.card__img {
  /* background-color: red; */
  padding: 1rem 0;
  /* height: 20rem; */
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
}
.card__img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.banner {
  margin: 0 auto;
  width: 60%;
  width: 100%;
  background-color: rgb(224, 99, 15);
  padding: 2rem;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .banner {
    justify-content: center;
    width: 100%;
  }
}
.banner h2 {
  font-size: 3rem;
  font-size: clamp(1.5rem, calc(0.12rem + 2.06vw), 4rem);
}
.banner p {
  font-size: 2rem;
  font-size: clamp(1.5rem, calc(0.12rem + 2.06vw), 4rem);
}
